.bodyy {
    position: absolute;
}

/*Elementos Principales*/

.title { 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: black;
    text-shadow: -2px 0 #0ef, 0 2px #0ef, 2px 0 #0ef, 0 -2px #0ef;
}

/*Cajas Externa*/

.content {
    margin-right: 14%;
    margin-top: 20%;
    padding-top: 5%;
    width: 50vw;
    height: 60vh;
    border: 0.2em solid #0ef;
    box-shadow: 0 0 1.5em 0 #00a6bc;
    text-align: center;
    overflow-y: scroll;
    scrollbar-color: transparent transparent; /*Scrollbar en Firefox*/
}

/*Codigo*/

.scr_img {
    text-shadow: -2px 0 #0ef, 0 2px #0ef, 2px 0 #0ef, 0 -2px #0ef;
}

.code_p {
    text-align: left;
}

.comment {
    color: grey;
}

.subtitle {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

code {
    display: inline-block;
    width: 70%;
    border: 2px solid rgb(5, 91, 97);
    background-color: black;
    padding: 1em;
}

/*Colores*/

y {
    color: yellow;
}

m {
    color: #6b50c9;
}

c {
    color: #0ef;
}

v {
    color: #44b17d;
}

z {
    color: blue;
}