/*Colores*/

y, .y {
    color: yellow;
}

c, .c {
    color: #0ef;
}

z, .z {
    color: blue;
}

k, .k {
    color: grey;
}

inv, .inv {
    color: transparent;
}

/*For the Code in -home-*/

m, .m {
    color: #8850c9;
}

l, .l {
    color: #3598c2;
}

v, .v {
    color: #49a582;
}

r, .r {
    color: red;
}

n, .n {
    color: #e99856;
}

/*Hiding Icons for Inputs*/

/*   ^ ^
    (O,O)
    (   )
    -"-"-- */

/*For Chrome*/

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

/*For Firefox*/

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}