.bodyy {
    position: absolute;
}

/*Elementos Principales*/

.title { 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/*Cajas Externa*/

.content {
    margin-right: 14%;
    margin-top: 20%;
    padding-top: 5%;
    width: 50vw;
    height: 60vh;
    border: 0.2em solid #0ef;
    box-shadow: 0 0 1.5em 0 #00a6bc;
    text-align: center;
    overflow-y: scroll;
    scrollbar-color: transparent transparent; /*Scrollbar en Firefox*/
}

.inline {
    display: inline-block!important;
}

#cont_3 {
    margin-bottom: 12%;
}

/*Codigo*/

.code_p {
    text-align: left;
    padding-left: 6vw;
}

.comment {
    display: block;
    color: grey;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.tab {
    margin-left: 3vw;
}

.subtitle {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    padding: 1vw;
    margin-top: 1vw;
}

code {
    display: block;
    width: 70%;
    border: 2px solid rgb(5, 91, 97);
    background-color: #1c1827;
    padding: 0.8em;
    padding-bottom: 0.2em;
    overflow: scroll;
}

/*Otros*/

figcaption {
    font-size: 0.7em;
}

@media screen and (max-width: 768px) {

    * {
        overflow-x: hidden;
    }

    .content {
        width: 100vw;
        border-left: none;
        border-right: none;
    }

    .subtitle {
        padding-top: 5vw;
    }
}