/*Colores*/

y, .y {
    color: yellow;
}

m, .m {
    color: #8850c9;
}

c, .c {
    color: #0ef;
}

v, .v {
    color: #44b17d;
}

z, .z {
    color: blue;
}

k, .k {
    color: grey;
}

inv, .inv {
    color: transparent;
}

/*Hiding Icons for Inputs*/

/*For Chrome*/

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

/*For Firefox*/

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}