/*Base*/

* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*Menu Perfil*/

ul, li {
    list-style: none;
}

.nav_user {
    position: absolute;
    right: 0;
}

/*Imagenes*/

.profile_img {
    width: 2.5em;
}

/*Botones*/

.logout, .profile, .settings, .other, .perfil {
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff;
    background: #081b29;
    padding: 0.5em;
    cursor: pointer;
    width: 100%;
    border-image: linear-gradient(#0ef, #c800ff) 20;
    border-width: 2px;
    border-style: solid;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-image: linear-gradient(#0ef, #c800ff) 30;
    border-width: 2px;
    border-style: solid;
    padding-left: 1em;
}

i {
    padding-right: 0.5vw;
}

/*Hide/Show the menu*/

.nav_user li ul {
    display: none;
}

.nav_user li:hover ul {
    display:block;
}

/*   ^ ^
    (O,O)
    (   )
    -"-"-- */